<h1 class="text-danger">Leer API Rick&Morty</h1>

<div class="row">
  <div *ngFor="let personaje of personajes.results" class="col-12 col-md-4">
    <div class="card" style="width: 18rem">
      <img [src]="personaje.image" class="card-img-top" alt="" />
      <div class="card-body">
        <h5 class="card-title">{{ personaje.name }}</h5>
        <p class="card-text">{{ personaje.status }}</p>
        <a href="#" class="btn btn-primary">Ver personaje</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  {{ personajes.results[0].name }}
</div> -->
